html {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.container {
  display: flex;
}
p {
  padding: 13px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (max-width: 600px) {
  body {
    background-color: bisque;
  }
  .container {
    flex-direction: column;
    width: 100%;
  }
  p {
    padding: 0 1.5%;
  }
}

@media screen and (min-width: 601px) {
  body {
    background-color: rgb(211, 253, 211);
  }
  .container{
    flex-wrap: wrap;
    margin: 0 2%;
  }
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  header ul {
    display: flex;
    justify-content: space-around;
  }
  aside h2 {
    font-size: 29px;
    text-align: center;
  }
  aside li {
    font-size: 18px;
    margin-left: 30%;
  }
  .aside-one {
    width: 100%;
  }
  .aside-two {
    width: 100%;
  }
  article h1 {
    text-align: center;
  }
}

@media screen and (min-width: 1000px) {
  body {
    background-color: floralwhite;
  }
  .container {
    flex-wrap: nowrap;
    padding: 2% 1%;
    margin: 0;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }
  aside h2 {
    font-size: 20px;
  }
  aside ul, aside li {
    font-size: 13px;
    padding-left: 5px;
  }
  article p {
    margin: 0;
  }
}